//This component is for
//the type of texts (tags) and their styles (format).

h1,h2,body,p{
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,h2,.btn{
  text-transform: uppercase;
}

h1{
  font-size: 64px;
}

h2{
  font-size: 32px;
}

body{
  font-size: 15px;
}

.btn{
  font-size: 16px;
  border-radius: 60px;
}
