//This component is for
//the type of texts (tags) and their styles (format).
h1{
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
}

h2{
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

body{
  font-size: 15px;
  text-align: center;
}

.btn{
  font-size: 16px;
  border-radius: 60px;
  text-transform: uppercase;
}
