$height-header: 80px;
$icons-header-height: 24px;

header{
  border-bottom: 1px solid #000;

  //Size of the header.
  & div{
    height: $height-header;
    padding:  0 17px 0 17px;

    @include media-down(md){
      padding:  0 15px 0 15px;
    }
  }

  //Size of all the images svg in the header.
  & svg{
    height: $icons-header-height;

    @include media-down(sm){
      height: 15px;
      width: fit-content;
    }
  }

  //Smiley icon and center it.
  .icon-center{
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: ($height-header/2) - ($icons-header-height/2);

    @include media-down(sm){
      display: none;
    }
  }

  //Style of the button in the header.
  & .btn-dark{
    @include button($dark: true, $btn-width: 120px, $btn-height: 45px);
  }
}
